body {
    position: fixed;
    height: 100%;
    width: 100%;
    margin: 0px;
    background-color: #417690;
}

#log_in{
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    width: 450px;
    height: 350px;
    background-color: white;
    padding: 30px 40px 30px 40px;

}


.row_margin{
    margin-top: 10px;
}

#alert_box {
    display: none;
    width: 100%;
    height: auto;
    padding-top: 5px;
    background-color: #cc423c;
}

.btn_pos {
    text-align: right;
}

.btn_color {
    background-color: #417690;
    color: white;
}

